.section {
  float: left;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  &__title {
    font-size: 6.0rem;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    color: #000000;
  }
}
.section:nth-child(even) {
  background-color: #dddddd;
}
